<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
<listener class-name = "Academy.E2EProject.Listeners"/>
</listeners>
	<test thread-count="5" name="LandingPage Test">
		<classes>
			<class name="Academy.E2EProject.landingpageNavigation" />
		</classes>
	</test>
	<test thread-count="5" name="LoginPage Test">
		<classes>
			<class name="Academy.E2EProject.LoginPageNavigation" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TitlePage Test">
		<classes>
			<class name="Academy.E2EProject.validateTitle" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
